@charset "utf=8";

body{ margin: 0px;}

header,
nav,
aside,
main,
footer{
    height: 100px;
    background: green;
}

nav{ background: hotpink;}
main{ background: indigo;}
aside{ background: lightseagreen;}